/* Mini test report */

#miniTestReport {
    bottom: 0;
    left: 500px;

    width: 600px;
    height: 500px;
}

#miniTestReport.shy {
    bottom: -440px;
}

#miniTestReport .panel-container {
    padding: 1em;
}
