/* Mini test report */

#miniTestReport {
    bottom: 0;
    left: 500px;

    width: 720px;
    height: 500px;
}

#miniTestReport.shy {
    bottom: -440px;
}

#miniTestReport .panel-container {
    overflow: auto;
    overflow-x: hidden;
    height: 430px;
    padding: 1em;
}

#miniTestReport .test h2 {
    font-size: 1.2em;
}
#miniTestReport .test h2>small {
    font-size: 1.0em;
}

#miniTestReport .test .simple-class-name {
    font-weight: bold;
}

#miniTestReport .test .test-name {
    font-weight: bold;
}

#miniTestReport .exception-message {
    font-family: "Ubuntu Mono", monospace;
    padding: 5px 10px;
}
#miniTestReport .stacktrace {
    font-family: "Ubuntu Mono", monospace;
    font-size: 0.8em;
    padding: 5px 10px;

    overflow: auto;
    word-wrap: normal;
    white-space: pre;

    background-color: transparent;
    border: none;
}

#miniTestReport .test.failed {

}

#miniTestReport .test.skipped .test-name {
    color: #ff932b;
}