/* Task panel */

#taskPanel {
    left: -2px;
    top: -2px;
    width: 10px;

    height: calc(100% + 4px);

    box-shadow: 0 0 15px rgba(50, 50, 50, 0.5);
    background-color: #242320;

    color: rgb(201, 208, 194);

    border-right: 2px solid #222;
}


#taskStack {
    height: 100%;
    width: 100%;
    overflow: hidden;
}