#projectDetails {
    -webkit-column-count: 4;
    -webkit-column-gap: 1em;
    -moz-column-count: 4;
    -moz-column-gap: 1em;
    column-count: 4;
}


#projectDetails .project-detail {
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;
    width: 260px;
    margin-bottom: 3em;
    column-gap: 1em;

    padding: 5px 5px;
    border-radius: 4px;
    background-color: white;

    transition-property: background-color;
    transition-duration: 500ms;
}

#projectDetails .project-detail.task-running {
    background-color: #f4f4f4;
}

#projectDetails .page-header {
    margin-bottom: 0.5em;
    margin-top: 0;
}

#projectDetails .page-header h3 {
    font-size: 1.2em;
    margin: 0;
}

#projectDetails blockquote {
    padding: 0 7px;
    margin: 0 0 6px;
    border-left: 5px solid #eee;
    font-size: 0.8em;
}

#projectDetails .task-details {
    display: inline-block;
    border-radius: 2px;
    padding: 2px 4px 2px 4px;
}



#projectDetails .task-details.failed {
    font-weight: bold;
}

#projectDetails .task-details .summary {
    font-size: 0.9em;
    color: white;
    padding: 2px 4px;
    background-color: #747373;
    font-family: Oswald, sans-serif;
}

#projectDetails .task-details.failed .summary {
    background-color: #e36e24;
}

#projectDetails .task-details .duration {
    font-size: 0.8em;
    font-style: italic;
    color: #999;
}


/* Spinning icons */

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}