#projectDetails {
    -webkit-column-count: 4;
    -webkit-column-gap: 1em;
    -moz-column-count: 4;
    -moz-column-gap: 1em;
    column-count: 4;
}

#projectDetails .project-detail {
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;
    width: 260px;
    margin-bottom: 3em;
    column-gap: 1em;

    padding: 5px 5px;
    border-radius: 4px;
    background-color: white;

    transition-property: background-color;
    transition-duration: 500ms;
}

#projectDetails .project-detail.evaluating {
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

#projectDetails .project-detail.task-running {
    background-color: #f4f4f4;
}

#projectDetails .page-header {
    margin-bottom: 0.5em;
    margin-top: 0;
}

#projectDetails .page-header h3 {
    font-size: 1.2em;
    margin: 0;
}

#projectDetails blockquote {
    padding: 0 7px;
    margin: 0 0 6px;
    border-left: 5px solid #eee;
    font-size: 0.8em;
}

#projectDetails .task-details {
    display: block;
    border-radius: 2px;
    padding: 2px 4px 2px 4px;
}

#projectDetails .project-path {
    font-weight: 300;
    color: #666;
}

#projectDetails .project-info {
    width: 35px;
    height: 35px;
    float: right;

    margin-top: 10px;
    margin-right: 10px;

    border-radius: 18px;
    border: 2px solid #ECECEC;
    background-color: #fefefe;
    font-size: 0.9em;
    color: #333;

    text-align: center;
    padding-top: 7px;

    transition-property: background-color, color;
    transition-duration: 500ms;
}

#projectDetails .project-info.running {
    background-color: rgb(134, 155, 208);
    color: white;
    border-color: rgb(108, 149, 213);
}
#projectDetails .project-info.failed {
    border-color: rgb(179, 124, 84);
    background-color: #e36e24;
    color: white;
}
#projectDetails .project-info.success {
    background-color: rgb(199, 215, 124);
    border-color: rgb(160, 176, 85);
    color: white;
}

#projectDetails .task-details .summary {
    margin-top: 4px;
    font-size: 0.9em;
    color: white;
    padding: 2px 4px;
    background-color: #747373;
    font-family: Oswald, sans-serif;
}

#projectDetails .task-details.failure .summary {
    background-color: #e36e24;
}

#projectDetails .task-details .label {
    margin-left: 4px;
    cursor: default;
}

#projectDetails .task-details .task-name {
    font-family: Oswald, sans-serif;
    padding: 0 5px;
}

#projectDetails .task-details .duration {
    font-size: 0.8em;
    font-style: italic;
    color: #999;
    padding-left: 10px;
}


/* Icons */

.task-details .icons .glyphicon {
    display: none;
}

.task-details.waiting .task-icon-waiting {
    display: inline;
}
.task-details.running .task-icon-running {
    display: inline;
}
.task-details.success .task-icon-success {
    display: inline;
}
.task-details.skipped .task-icon-skipped {
    display: inline;
}
.task-details.failure .task-icon-failure {
    display: inline;
}


