

body {
    background-color: #f9fbf9;
    overflow: hidden;


    background: linear-gradient(90deg, #F9F9F9, #F7F7F7);

}

h3 {
    font-size: 1.3em;
}

.container-full {
    margin: 0 auto;
    padding-left: 1em;
    width: 95%;
}

.page-header, #headerRow {
    font-family: 'Oswald', sans-serif;
    color: #333;
}
.page-header .small {
    font-family: 'Oswald', sans-serif;
    color: #555;
}










.package-panel.faded {
    opacity: 0;
}

.package-panel .page-header {
    padding: 15px 10px;
    background-color: #cee544;
    font-family: "Roboto", sans-serif;
    color: white;
    margin: 0;
}



/* Tests */

#testPanel {
    position: absolute;
    bottom: 0;
    left: 50px;

    width: 700px;
    height: calc(100% - 200px);

    background-color: white;
    border: 1px solid #f5f5f5;

    box-shadow: 0 0 30px rgba(100, 100, 100, 0.05);

    z-index: 2;
}

#testPanel hr {
    margin: 0;
}
#testPanel h2 {
    margin: 0;
    padding: 15px;
    color: white;
    background-color: gray;
}

#testPanel .test-container {
    background-color: #fafafa;
    height: calc(100% - 50px);
    overflow-y: auto;
}

.test-container .test {
    padding: 10px 15px;
    margin: 0;
    display: block;

    background-color: white;
    border-left: 7px solid gray;

    transition-property: border-border-left-width;
    transition-duration: 500ms;
}

.test-container .test.selected {
    border-left-width: 14px;
}

.test-container .test .summary {
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    padding: 5px 0;
    font-style: italic;
}

.test-container .test .header {
    margin: 0;
    padding-bottom: 0.2em;
    font-family: "Roboto", monospace;
    font-weight: 500;
}

.test-container .test:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.test-container .test .header {

}

.test-container .test.success {

}

.test-container .test.skipped {
    border-color: #e9dc22;
}

.test-container .test.failure {
    border-color: #cf5a0b;
}




/* Output */

#outputPanel {
    position: absolute;
    bottom: 0;
    left: 700px;

    z-index: 1;

    height: calc(100% - 263px);
    width: calc(100% - 800px);

    background-color: rgb(241, 241, 241);
    border: 1px solid #f5f5f5;

    box-shadow: 0 0 30px rgba(100, 100, 100, 0.05);

    overflow: auto;

    transition-property: left;
    transition-duration: 200ms;
}

#outputPanel.expanded {
    left: 750px;
}


.output-container h2 {
    font-family: monospace;
    margin: 0;
}

.output-container {
    width: 100%;
    height: 100%;

    padding: 5px 10px;
}

.output-container pre {
    background-color: white;
    width: 100%;
    word-wrap: normal;
    overflow: auto;
}

.output-header {
    padding: 5px 10px;
    background-color: gray;
    font-size: 1.2em;
    color: white;

    transition-property: background-color;
    transition-duration: 300ms;
}

.output-header .header {
    margin: 0;
}

.output-header .summary {
    margin: 0;
}

.output-header .class-name {
    font-family: "Ubuntu Mono", monospace;
}

.output-header .header small {
    color: #eee;
}
.output-header.success {
}
.output-header.skipped {
    background-color: #e9dc22;
}
.output-header.failure {
    background-color: #cf5a0b;
}