.entity {
    padding: 5px 8px;
    margin: 5px 0;
}

.entity-focus {
    position: absolute;
    transition-property: left, top;
    transition-duration: 200ms;
}

.entity .package-name,.class-name {
    font-family: "Ubuntu Mono", monospace;
}

.entity:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.entity h3 {
    margin: 0;
    padding-bottom: 0.2em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.entity.failure {
    background-color: #A04528;
    color: white;
}

.entity .summary {
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
}