.entity {
    padding: 5px 8px;
    margin: 5px 0;
}

.entity h3 {
    margin: 0;
    padding-bottom: 0.2em;
}

.entity.failure {
    background-color: #ff5722;
    color: white;
}

.entity .summary {
    margin-bottom: 0;
}