


/* Build progress */

#buildProgress .bar {
    height: 3px;
    width: 800px;
    background-color: #333;
    margin-top: 10px;
    float: left;

    transition-property: width;
}

#buildProgress .running {
    width: 0;
}

#buildProgress.completed .bar {
    transition-duration: 0.5s;
    width: 800px;
}

#buildProgress.completed .bar-label {
    display: none;
}

#buildProgress .bar-label {
    border-left: 3px solid #333;
    background-color: #fafafa;
    color: #333;
    width: 250px;
    float: left;
    padding-left: 0.5em;
}
